:root {
  --crimson: #900f09;
}

.footer {
  display: block;
  width: 30%;
  padding-left: 35%;
  padding-right: 35%;
  text-align: center;
}

.body {
  width: 70%;
  margin: 42px 15%;
  font-family: "Poppins", "sans-serif"
}

.body1 {
  width: 75%;
  margin: 42px 10% 42px 15%;
  font-family: "Poppins", "sans-serif"
}

/* Introduction */
.profile-pic {
  width: 36%;
  display: inline-flex;
  border-radius: 8px;
}

.Introduction {
    margin-left: 6%;
}

.bio {
  width: 56%;
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 42px;
  vertical-align: top;
}

@media (max-width:1100px) {
  .profile-pic {
    display: block;
    width: 50%;
    margin: 21px auto;
    max-height: none;
  }
  .bio {
    display: block;
    width: 80%;
    margin: 21px 10%;
  }
}

.bullet-head {
  margin: 0px;
}

/* Connect */
.connect h1 {
  color: white;
}

.connect {
  background-color: #232323;
  width: 70%;
  padding: 21px 15% 42px 15%;
  font-family: "Poppins", "sans-serif";
  height: 300px;
}

.link-col {
  width: 33.3%;
  padding: 0px;
  margin: 21px 0px;
  float: left;
}

.social-link {
  width: 100px;
  padding: 25px;
  border-radius: 50%;
  fill: white;
  display: block;
  margin: auto;
}

@media (max-width: 770px) {
  .connect {
    height: auto;
  }

  .link-col {
    width: 100%;
    display: block;
    margin: 32px auto;
    float: none;
  }

  .social-link {
    display: block;
    margin: auto;
  }
}

.social-link:hover {
  background-color: white;
  fill: #232323;
}

/* Adventures */
.company {
  background-color: #232323;
  margin-bottom: 42px;
  height: max-content;
  border-radius: 5px;
}

.company-logo {
  width: 13%;
  padding: 40px;
  float: left;
}

.company-text {
  margin: 40px 0px;
  display: inline-block;
  color: white;
  max-width: 75%;
}

@media (max-width: 970px) {
  .company-logo {
    display: none;
  }
  .company-text {
    width: 100%;
    margin: 40px;
  }
  h1 {
    display: block;
    margin: auto;
  }
}

@media (max-width: 510px) {
  h1 {
    font-size: 24px;
    margin-bottom: 11px;
  }
  h2,h3  {
    font-size: 16px;
  }

}

.company-name {
  font-size: 24px;
}

.involvement, .links {
  color: #888;
}

.links {
  margin-top: 21px;
  margin-bottom: 11px;
}

.company-link:hover {
  background: white;
  color: var(--crimson);
  transition: .4s;
}

.company-description {
  padding-top: 21px;
  color: white;
  padding-top: 9px;
}

.last-company {
  margin-bottom: 100px;
}

.company-link {
  color: white;
  padding: 6px;
  margin: 15px;
  border-radius: 3px;
}

.phone {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.phone-contact-h {
  text-align: center;
}

.phone-link {
  color: #232323;
  text-decoration: underline;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px
}
