body {
  margin: 0px;
  font-family: sans-serif;
}

p, div, ul {
  margin: 0px;
  padding: 0px;
}

/* Begin Header */
.header {
  width: 80%;
  padding: 0px 10%;
  background-color: black;
  display: inline-flex;
}

.header-text {
  font-size: 20px;
  color: white;
  padding: 9px 18px;
}

.nav-bar-links-wrapper {
  width: 70%;
  display: inline-flex;
  justify-content: flex-end;
}

.nav-bar-opposition-wrapper {
  width: 30%;
}

.hamburger {
  font-family: Material Icons;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 30px;
  padding: 9px;
  vertical-align: middle;
  display: none;
}

.hamburger:focus {
  outline: none;
}

.logo {
  height: 20px;
  padding-bottom: 3px;
  vertical-align: middle;
}

.opposition-text {
  display: inline-flex;
}

.nav-bar-item {
  list-style-type: none;
  justify-content: space-around;
  flex-shrink: 1;
}

.nav-bar-item:hover {
  background-color: red;
  color: white;
}

@media (max-width: 1180px){
  .header-text {
    padding: 9px 9px;
  }
}

@media (max-width: 1070px){
  .header-text {
    font-size: 16px;
  }
}

@media (max-width: 890px){
  .nav-bar-opposition-wrapper {
    display: none;
    width: 0%;
  }
  .nav-bar-links-wrapper {
    width: 100%;
    justify-content: center;
  }
  .header-text {
    padding: 9px 9px;
  }
}

@media (max-width: 610px) {
  .nav-bar-links-wrapper {
    display: none;
  }
  .nav-bar-opposition-wrapper {
    display: inline-block;
    width: 100%;
  }
  .hamburger {
    display: inline-block
  }
  .header-text {
    font-size: 20px;
    position: relative;
    top: 4px
  }
}

/* Begin Hamburger Overlay */

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* End Header */
