body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  font-family: sans-serif;
}

.header {
  text-align: center;
  padding: 11px;
  background-color: #900f09;
  color: white;
}

a {
  color: white;
}
