.link {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body {
  text-align: center;
  width: 100%;
}

.link {
  text-decoration: none;
  text-align: center;
  margin: 62px auto;
  padding: 30px 60px;
  border-color: var(--crimson);
  border-width: 3.5px;
  border-radius: 4px;
  border-style: solid;
  width: max-content;
  text-transform: uppercase;
  transition: .3s;
}

.link:hover {
  background-color: var(--crimson);
  color: white;
  transition: .5s;
  border-color: var(--crimson);
}
